// When color definition differs for dark and light variant
// it gets @if ed depending on $variant

@import 'sunnight-colors';

// Firefox address bar and menu background.
// File dialog file list background.
$base_color: $sn_black;

// Firefox address bar text.
// File dialog file list text, breadcrumb text.
$text_color: $sn_white;

// Firefox tab background.
// File dialog breadcrumb, bottom pane, buttons.
$bg_color: $sn_dark_gray;

// Firefox tab text, icon colors.
$fg_color: $sn_white;

// File dialog selected file text.
$selected_fg_color: $sn_black;

// Firefox active tab accent, highlights, etc.
// File dialog selected file background.
$selected_bg_color: $sn_bright_accent;

// Nautilus file rename: text box "halo"
$selected_borders_color: $sn_bright_accent;

// Firefox bottom edge of top bar, address bar highlight when not focused.
// File dialog button borders.
$borders_color: $sn_gray;

// Bottom edge of inactive file dialog breadcrumbs.
$alt_borders_color: $borders_color;

// Unknown (referenced by $top_hilight).
$borders_edge: $borders_color;

// Firefox search bar dropdown selection URLs.
$link_color: $sn_bright_accent;

// Unknown.
$link_visited_color: $sn_accent;

// Window top highlight.
$top_hilight: $borders_edge;

// Nautilus tab background (also tab background in prefs dialog).
$dark_fill: $bg_color;

// Border around Nautilus window?
$headerbar_color: $bg_color;

// Background used for application menus (File, Edit, etc.)
$menu_color: $base_color;

// Popover containers (e.g. Nautilus view options)
$popover_bg_color: $bg_color;
$popover_hover_color: $popover_bg_color;

// Scrollbar.
$scrollbar_bg_color: $base_color;
$scrollbar_slider_color: $sn_gray;
$scrollbar_slider_hover_color: $sn_silver;
$scrollbar_slider_active_color: $selected_bg_color;

// Operation status colors?
$warning_color: $sn_bright_yellow;
$error_color: $sn_bright_red;
$success_color: $sn_bright_green;
$destructive_color: $sn_bright_red;

// Colors for disabled objects.
$insensitive_fg_color: mix($fg_color, $bg_color, 50%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

// On screen display notifications?
$osd_fg_color: $fg_color;
$osd_text_color: $text_color;
$osd_bg_color: $bg_color;
$osd_insensitive_bg_color: $bg_color;
$osd_insensitive_fg_color: $insensitive_fg_color;
$osd_borders_color: $borders_color;

// Sidebar background (seems to only be used when window loses focus).
$sidebar_bg_color: $bg_color;

// Unknown.
$base_hover_color: $bg_color;

// Tooltip borders.
$tooltip_borders_color: transparent;

// Nautilus top bar button shadows.
$shadow_color: transparent;

// Highlight for areas about to be drag-and-dropped onto.
// E.g. Nautilus breadcrumb.
$drop_target_color: $selected_bg_color;

// Colors for windows in the backdrop state (top level, not focused).
$backdrop_base_color: $base_color;
$backdrop_text_color: $text_color;
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: $fg_color;
$backdrop_insensitive_color: $insensitive_fg_color;
$backdrop_selected_fg_color: $selected_fg_color;
$backdrop_borders_color: $borders_color;
$backdrop_dark_fill: $dark_fill;
$backdrop_sidebar_bg_color: $sidebar_bg_color;
$backdrop_scrollbar_bg_color: $scrollbar_bg_color;
$backdrop_scrollbar_slider_color: $scrollbar_slider_color;
$backdrop_menu_color: $menu_color;

// Special cased widget colors.
$suggested_bg_color: $selected_bg_color;
$suggested_border_color: $selected_borders_color;
$progress_bg_color: $selected_bg_color;
$progress_border_color: $selected_borders_color;
$checkradio_bg_color: $selected_bg_color;
$checkradio_fg_color: $selected_fg_color;
$checkradio_borders_color: $borders_color;
