$sn_black:         #000000;
$sn_dark_gray:     #222222;
$sn_gray:          #777777;
$sn_silver:        #bbbbbb;
$sn_white:         #eeeeee;
$sn_bright_red:    #ff3333;
$sn_bright_yellow: #ff9900;
$sn_bright_green:  #66ee22;
$sn_bright_accent: #ff9900;
$sn_accent:        #ffcc88;
